


<div style="padding:10em;" class="columns is-mobile">
  <div class="column is-4 is-offset-4">
  <h1 class="is-size-2">Sign in</h1>
   <span class="icon is-small is-right">
    </span>
<%= form_tag login_path do %>
<%= label :email, "Email", class:"label"%>
<%= text_field_tag :email,"", class:"input" %>
 <span class="icon is-small is-right">
    
    </span>

<%= label :password_digest, "Password",class:"label"%>
<%= password_field_tag :password_digest,"", class:"input" %>
<span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
<div class="control">
<%= submit_tag "Login", class:"button is-primary"  %>
<% end %>
</br>
<div style="padding-top:2em;">
<%= link_to 'Create your account', new_user_path,  class:"button is-medium is-fullwidth"  %>
</div>
</div>
</div>
</div>






