
<u> <h1 style="font-size:30px;">Create your JobLinker Profile</h1> </u>


<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.text_field :password %><br> 

    Current <%= f.label :company %>
    <%= f.collection_select(:company_ids, Company.all, :id, :name)%>

    <br>

    Upload a Profile Picture <%= f.label :image %>
    <%= f.file_field :image %> 
    <br>
    <br>
   
    <u> 
    Choose at LEAST 3 <%= f.label :skill %>s below:
    </u>
    
    <ul>
   <%= f.collection_check_boxes(:skill_ids, Skill.all, :id, :name) do |x| %><br>
    <%= x.check_box%>
    <%= x.label %>
    <%end %>
    </ul>

    <br>
    <%= f.submit %>

<% end %>

<br>
<br>
