
<% if @user.image.attached?%>
<%= image_tag(@user.image, style:'border-radius: 20%; width: 8em') %>
<% end %>

<div style='display:flex'><h1><%= @user.name %></h1></div>

<br> 
<%# <%= link_to "Current Company", company_path(current_user.id)%> <br> 

-Current company: (link to show page of company) <br>
<% @user.companies.each do |company| %>
<ul> <%= link_to company.name, company_path(company.id)%> </ul>
<%end %>

-Edit company (min of 1)<br><br><br>

-Skills (min of 3) 
<%@user.skills.each do |skill|%>
 <ul> <li> <%= skill.name %> </li></ul>
 <%end %>

-Add skill (max of 5) (if you are current_user, drop down)

<br><br>
<div>
-Edit Skill 
<%= link_to "Edit your profile", edit_user_path(@user.id)%>
</div>
 <br><br>
<div>
-Delete skill
<%= link_to "Delete your profile", user_path(@user.id), method: "DELETE"%>
</div>

<br><br>

-Email: <%= @user.email%> <br><br>

-Create a public status/post: (link to create page)

<br><br><br>
nav bars link to 
    -job listings 
    -user specific posts 
    -link to company index page


Form for post

<= render :post_form>