<h1><%= @company.name %></h1>

<h2>Details</h2>
<ul>
    <li>Name: <%= @company.name %></li>
    <li>Location: <%= @company.location %></li>
    <li>Location: <%= @company.description %></li>
    <li>Industry: <%= @company.industry %></li>


    <li>Employees:
        <ul>
            <% @company.users.each do |user| %>
                <li><%= link_to user.name, user_path(user.id) %></li>
            <% end %>
        </ul>
    </li>
</ul>
<br>

<h2> Job Listing: </h2>
    <% @company.job_listings.each do |x|%>
        <%= link_to x.title, job_listing_path(x)%> 
    <%end %> 


<div>
<%= link_to "Homepage", homepage_path %>

</div>