<h1> Homepage </h1>

<%= simple_form_for :search, url: homepage_path, method: "GET" do |f| %>
  <%= f.input :name, input_html: {value: ""} %>   
  <%= f.submit "Search" %>
<% end %>

 <div >
  <div>
    <div >
      <h1>Jobs</h1>
      <% @joblistings.each do |jb| %>
        <h3><%= link_to jb.title, job_listing_path(jb)%></h3>
      <% end %>
    </div>
  </div>
</div> 

<% if current_user %>
 <%= link_to "Log Out", destroy_path, method: "DELETE" %> <br><br>
<div> Current Email: <br>
<%=current_user.email%>
</div>

<%= link_to "Profile", user_path(current_user.id)%> <br><br>

<p> All Listed Posts of all users (6 users, 1 post each, 6 posts) </p>

<p> Job Listings (Link) </p>

<% else %>
 <%= link_to "Log In", login_path%> <br><br>
<%end %>



 
